!!!
html
  head
    title What size is my browser?
    style
      .w:before {
        content: "?";
      }

      .h:before {
        content: "?";
      }
    meta(name="viewport",content="width=device-width")
    link(rel="stylesheet",type="text/css",href="index.css")

    // DEV: Watch files for changes
    script(src="https://raw.github.com/twolfson/File-Watcher/master/src/watcher.js")
    script(src="https://raw.github.com/twolfson/Resource-Collector/master/src/collector.js")
    script
        (function () {
           var watcher = new FileWatcher(),
               resources = ResourceCollector.collect();
           watcher.addListener(function () {
             location.reload();
           });
           watcher.watch(resources);
        }());
  body
    .container
      span.w px
      span.times &times;
      span.h px

    p Now try a Print Preview. Can your JS do that? ;)