.width:before {
  content: "?";
}

.height:before {
  content: "?";
}

@for $num from 0 through 9999 {
  @media (height: #{$num}px) {
    .height:before {
      content: "#{$num}";
    }
  }
}

@for $num from 0 through 9999 {
  @media (width: #{$num}px) {
    .width:before {
      content: "#{$num}";
    }
  }
}