!!!
html
  head
    title What size is my browser?
    style
      .w:before {
        content: "?";
      }

      .h:before {
        content: "?";
      }
    meta(name="viewport",content="width=device-width")
    link(rel="stylesheet",type="text/css",href="index.css")

    // DEV: Watch files for changes
    script(src="https://raw.github.com/twolfson/File-Watcher/master/src/watcher.js")
    script(src="https://raw.github.com/twolfson/Resource-Collector/master/src/collector.js")
    script
        (function () {
           var watcher = new FileWatcher(),
               resources = ResourceCollector.collect();
           watcher.addListener(function () {
             location.reload();
           });
           watcher.watch(resources);
        }());
  body
    .container
      span.w px
      span.times &times;
      span.h px

    p Now try a Print Preview. Can your JS do that? ;)
    // TODO: During formalization, move off of SCSS and onto mustache or similar -- it will be much faster and simpler
    // DEV: I wanted to initially do some modulo combination but that is not possible
    // and doing things on a per-digit basis winds up forcing 9999 for the ones case alone.
    // The tens is 999 (e.g. min-height: 10px and max-height: 20px). As a result, it is just silly.
    // TODO: Can we short circuit the cascade via nested media queries? (e.g. @media (min-width: 1px) { content: "1"; @media (min-width: 2px) { content: "2"; } })